@import '../../scss/_variables.scss';

$slideshow-height: 100px;

.slideshow {
  height: $slideshow-height;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------- COLORS ---------------*/

.slideshow {
  background: gold;
}

// .slideshow-wrapper {
//   background: red;
//   .message {
//     background: gold;
//   }
// }
