@import '@/scss/_variables.scss';

$slideshow-height-lg: 250px;
$slideshow-height-sm: 160px;
$slidetitle-height-lg: 60%;
$slidetitle-height-sm: 60%;

.slideshow-lg,
.slideshow-sm {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  row-gap: 0px;
  grid-gap: 0px;
}

.slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s ease;
}

.slideshow-lg {
  height: $slideshow-height-lg;
  grid-template-columns: repeat(
    auto-fill,
    minmax($slideshow-height-lg * 1.3, 1fr)
  );
  .slide {
    height: $slideshow-height-lg;
  }
}

.slideshow-sm {
  height: $slideshow-height-sm;
  grid-template-columns: repeat(
    auto-fill,
    minmax($slideshow-height-sm * 1.3, 1fr)
  );
  .slide {
    height: $slideshow-height-sm;
  }
}

.slideshow-lg,
.slideshow-sm {
  background: darken($base-color, 20%);
}

.slidetitle-lg,
.slidetitle-sm {
  width: 100%;
  position: absolute;
  top: 10%;
}

.slidetitle-lg,
.slidetitle-sm {
  color: white;
}
