@import '../../scss/_variables.scss';

$slideshow-height: 250px;

.slideshow {
  height: $slideshow-height;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax($slideshow-height * 1.3, 1fr)
  );
  row-gap: 0px;
  grid-gap: 0px;
  background: darken($base-color, 20%);
}

.slide {
  height: $slideshow-height * 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s ease;
}
