@import '../../scss/variables';
$grid-item-size: 100px;
$gutter: 20px;
$breakpoint-sm: 600px;
$breakpoint-lg: 980px;
.marque-grid {
  display: grid;
  column-gap: $gutter;
  row-gap: $gutter;
  justify-content: space-evenly;
  @media screen and (max-width: $breakpoint-sm) {
    grid-template-columns: auto auto auto;
  }
  @media screen and (max-width:$breakpoint-lg) {
    grid-template-columns: auto auto auto auto;
  }
  @media screen and (min-width: $breakpoint-lg) {
    grid-template-columns: auto auto auto auto auto auto;
  }
  .marque-item {
    display: flex;
    height: $grid-item-size;
    width: $grid-item-size;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    img {
      // height: auto;
      width: 100%;
    }
  }
}

/*---------- Colors-----------*/

$grid-item-color: $base-color;
$grid-item-hover-color: lighten($grid-item-color, 5%);
$text-grid-item: white;
.outer {
  background: $grid-item-color;
  .inner {
    color: $text-grid-item;
    a.nav-link {
      //background: gold;
      color: $text-grid-item;
      text-shadow: 0 0 6px darken($grid-item-color, 30%);
      &:hover {
        background: $grid-item-hover-color;
      }
    }
  }
}

/*---------- Colors-----------*/

// .outer {
//   background: red;
//   .inner {
//     background: gold;
//     a.nav-link {
//       background: blue;
//     }
//   }
// }
