@import '@/scss/_variables.scss';

@media (min-width: $breakpoint) {
  $title-container-height: 100px;
  $title-height: $title-container-height * 0.5;
  $subtitle-height: $title-container-height * 0.5;

  .title-container {
    margin: 50px auto;
    h1 {
      line-height: $title-height;
      height: $title-height;
    }
    h2 {
      line-height: $subtitle-height;
      height: $subtitle-height;
    }
  }
}

@media (max-width: $breakpoint) {
  $title-container-height: 80px;
  $title-height: $title-container-height * 0.5;
  $subtitle-height: $title-container-height * 0.5;

  .title-container {
    margin: 30px auto;
    h1 {
      line-height: $title-height;
      height: $title-height;
    }
    h2 {
      line-height: $subtitle-height;
      height: $subtitle-height;
    }
  }
}

.title-container {
  h1 {
    margin: 0 auto;
    padding: 0;
    // background: red;
  }
  h2 {
    margin: 0 auto;
    padding: 0;
    // background: gold;
  }
  // background: blue;
}
