@import '../../scss/variables';
$logo-size-lg: 120px;
$logo-size-sm: 120px;

.logo-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  pointer-events: none;
  // background: gold;
  &.sm {
    height: $logo-size-sm;
    width: 100%;
    top: 110px;
    margin: -28px auto 0 auto;
    .logo-image {
      height: $logo-size-sm;
    }
  }
  &.lg {
    height: $logo-size-lg;
    width: 100%;
    top: 10px;
    margin: -28px auto 0 auto;
    .logo-image {
      height: $logo-size-lg;
    }
  }
}
