@import '../../scss/variables';

$card-height: 100px;
$text-card: white;
$gutter: 14px;
$card-breakpoint: 880px;

.card-grid {
  height: $card-height * 2.3;
  display: grid;
  column-gap: $gutter;
  row-gap: $gutter;
  align-content: space-evenly;
  align-content: center;
  @media (max-width: $card-breakpoint) {
    grid-template-columns: auto auto auto;
  }
  @media (min-width: $card-breakpoint) {
    grid-template-columns: auto auto auto auto auto auto;
  }
  .card-item {
    height: $card-height;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    .card-inner {
      height: $card-height;
      width: 100%;
      position: absolute;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    .card-text {
      font-family: $font-serif;
      font-size: 1.7rem;
    }
  }
}

.card-grid {
  .card-item {
    transition: all 0.3s;
    .card-inner {
      transition: all 0.3s;
    }
    &:hover {
      .card-inner {
        background-color: rgba(200, 200, 200, 0);
      }
    }
    &:hover {
      transform: scale(1.03);
    }
  }
}

/*---------- Colors-----------*/

.card-grid {
  .card-item {
    .card-inner {
      background-color: $base-color;
      background-blend-mode: soft-light;
      .card-text {
        color: $text-card;
        text-shadow: rgba(0, 0, 0, 1) 2px 2px 5px;
      }
    }
    &:hover {
      .card-inner {
        background-color: rgba(200, 200, 200, 0);
      }
    }
  }
}

// .card-grid {
//   background: red;
//   .card-item {
//     background: gold;
//   }
//   .card-inner {
//     background: green;
//     .card-text {
//       background: blue;
//     }
//   }
// }
