@import '../../scss/variables';

$card-height: 120px;
$text-card: white;
$gutter: 20px;

.card-grid {
  height: $card-height * 2.3;
  display: grid;
  column-gap: $gutter;
  row-gap: $gutter;
  grid-template-columns: auto auto auto;
  align-content: space-evenly;
  align-content: center;
  .card-item {
    height: $card-height;
    position: relative;

    border-radius: 5px;
    overflow: hidden;
    .card-inner {
      height: $card-height;
      width: 100%;
      position: absolute;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    .card-text {
      font-family: $font-serif;
      font-size: 2rem;
      color: $text-card;
      text-shadow: rgba(0, 0, 0, 1) 2px 2px 5px;
    }
  }
}

.card-grid {
  .card-item {
    transition: all 0.3s;
    &:hover {
      transform: scale(1.03);
    }
    .card-inner {
      .card-text {
      }
    }
  }
}

/*---------- Colors-----------*/

// .card-grid {
//   background: red;
//   .card-item {
//     background: gold;
//   }
//   .card-inner {
//     background: green;
//     .card-text {
//       background: blue;
//     }
//   }
// }
