@import '../../scss/_variables.scss';

$alert-height: 40px;

.alert-wrapper {
  height: $alert-height;
  width: 100%;
  display: flex;
  align-items: center;
  .message {
    font-size: 0.94rem;
    font-weight: normal;
  }
}

@media screen and (min-width: $breakpoint) {
  .alert-wrapper {
    justify-content: flex-start;
  }
}

@media screen and (max-width: $breakpoint) {
  .alert-wrapper {
    justify-content: center;
    .message {
      text-align: center;
    }
  }
}

/*----------- COLORS ---------------*/

.alert-wrapper {
  background: darken($base-color, 10%);
  .message {
    color: desaturate(lighten($base-color, 40%), 25%);
  }
}

// .alert-wrapper {
//   background: red;
//   .message {
//     background: gold;
//   }
// }
