@import '../../scss/variables';
$navbar-height: 70px;
.outer {
  height: auto;
  position: relative;
  padding-left: none;
  padding-right: none;
  overflow: hidden;
  .inner {
    height: $navbar-height;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
    .nav-links {
      height: $navbar-height;
      display: flex;
      align-items: center;
      justify-content: center;
      a.nav-link {
        height: $navbar-height;
        font-family: $font-serif;
        line-height: $navbar-height;
      }
      &.left {
        margin-right: 30px;
      }
      &.right {
        margin-left: 30px;
      }
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .inner {
    grid-template-columns: auto 0.3fr auto;
    .nav-links {
      a.nav-link {
        font-size: 1.4em;
        padding: 0 30px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint) {
  .inner {
    grid-template-columns: auto 0.1fr auto;
    .nav-links {
      a.nav-link {
        font-size: 1.1em;
        padding: 0 6px;
      }
    }
  }
}

/*---------- Colors-----------*/

$navbar-color: $base-color;
$navbar-hover-color: lighten($navbar-color, 5%);
$text-navbar: white;
.outer {
  background: $navbar-color;
  .inner {
    color: $text-navbar;
    a.nav-link {
      color: $text-navbar;
      text-shadow: 0 0 6px darken($navbar-color, 30%);
      &:hover {
        background: $navbar-hover-color;
      }
    }
  }
}

/*---------- Colors-----------*/

// .outer {
//   background: red;
//   .inner {
//     // background: gold;
//     .nav-links {
//       &.left {
//         background: blue;
//       }
//       &.right {
//         background: gold;
//       }
//     }
//     a.nav-link {
//       // background: red;
//     }
//   }
// }
