<br clear="all" />

<div class="container-fluid footer">
  <div class="row footer-content">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <a href="index">
                    <img class="logo-arms" src="./assets/images/site/arms.png">
                </a>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <a href="http://www.blackhawkmuseum.org" alt="Blackhawk Auto Museum" target="top">
                    <img class="logo-blackhawk" src="./assets/images/site/logo-blackhawk.svg"></a>
    </div>
  </div>
  <div class="row footer-celebrates d-none d-md-block">
    <span class="col-12 d-flex justify-content-center align-items-center">
                The All British Motor Show celebrates its 27th year by moving to the Blackhawk Auto Museum in Danville, CA.
            </span>
  </div>
  <div class="row footer-copyright">
    <div class="col-5 justify-content-center align-items-center">
      © 2016 <a href="http://moasf.com" target="top">MOASF</a>
    </div>
    <div class="col-2 justify-content-center align-items-center">
      <a href="http://www.moasf.com" alt="Mini Owners of America" target="top">
                    <img src="./assets/images/site/moasf-logo.svg" class="logo-moasf">
                </a>
    </div>

  </div>
</div>

