@import '../../scss/variables';

$footer-logos-height: 250px;

$logo-size: 100px;

.footer-logos-outer {
  height: $footer-logos-height;
  width: 100%;
  .footer-logos-inner {
    height: $footer-logos-height;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  a.logo-link {
    height: $logo-size;
    width: $logo-size;
  }
  img.logo-footer {
    height: $logo-size;
    width: $logo-size;
    &.wide {
      width: $logo-size * 1.5;
    }
  }
}

/*---------- Colors-----------*/

$footer-logos-color: desaturate(lighten($base-color, 20%), 25%);
$text-footer: white;


.footer-logos-outer {
  background: $footer-logos-color;
  .footer-logos-inner {
    color: $text-footer;
  }
}

/*---------- Colors-----------*/

// .footer-logos-outer{
//   background: red;
//   .footer-logos-inner {
//     background: gold;
//     a.footer-link {
//       background: blue;
//     }
//   }
// }
