@import '../../scss/variables';
$footer-height: 70px;
.outer {
  height: auto;
  position: relative;
  padding-left: none;
  padding-right: none;
  margin: 0 auto 50px auto;
  .inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $footer-height;
    // position: relative;
    .nav-links {
      height: $footer-height;
      display: flex;
      align-items: center;
      a.nav-link {
        font-family: $font-serif;
        font-size: 1.4em;
        height: $footer-height;
        line-height: $footer-height;
        padding: 0 30px;
      }
      &.left {
        margin-right: 30px;
      }
      &.right {
        margin-left: 30px;
      }
    }
    .header-logo {
      // position: absolute;
      margin-top: 16px;
      width: 90px;
    }
  }
}

/*---------- Colors-----------*/

$footer-color: $base-color;
$footer-hover-color: lighten($footer-color, 5%);
$text-footer: white;
.outer {
  background: $footer-color;
  .inner {
    color: $text-footer;
    a.nav-link {
      //background: gold;
      color: $text-footer;
      text-shadow: 0 0 6px darken($footer-color, 30%);
      &:hover {
        background: $footer-hover-color;
      }
    }
  }
}

/*---------- Colors-----------*/

// .outer {
//   background: red;
//   .inner {
//     background: gold;
//     a.nav-link {
//       background: blue;
//     }
//   }
// }
