@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i|Roboto|Roboto+Condensed');

$font-sans-serif: 'Roboto Condensed', Arial, Helvetica, sans-serif;
$font-subtitle: 'Roboto', Arial, Helvetica, sans-serif;
$font-serif: 'Merriweather', serif;


/*---------------- Text --------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
}

p {
  font-family: $font-sans-serif;
}
